<footer>
  <p><strong>BODMAS CHAMAA</strong></p>
  <p>Registered Self-Help Group &ndash; Kenya</p>
  <p>Count Well &bull; Live Better</p>
  <p>
    Email: <a href="mailto:bodmaschamaa@gmail.com">bodmaschamaa@gmail.com</a><br>
    Phone: <a href="tel:+254726145371">+254 726 145 371</a><br>
    Location: Bamburi, Mombasa, Kenya
  </p>
  <p>
    <a href="privacy-policy.html">Privacy Policy</a> &nbsp;|&nbsp;
    <a href="terms-conditions.html">Terms &amp; Conditions</a> &nbsp;|&nbsp;
    <a href="faq.html">FAQ</a>
  </p>
  <p>&copy; 2026 BODMAS Chamaa. All Rights Reserved.</p>
</footer>
