<nav class="navbar">
  <div class="nav-container">
    <div class="logo">
      <a href="index.html"><img src="https://i.ibb.co/d4vff5ts/logo.png" alt="BODMAS" height="40"></a>
    </div>
    <ul class="nav-menu">
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="member-portal.html">Portal</a></li>
      <li><a href="savings.html">Savings</a></li>
      <li><a href="service.html">Services</a></li>
      <li><a href="project-and-investment.html">Projects</a></li>
      <li><a href="Live-meetings.html">Meetings</a></li>
      <li><a href="Resources-page.html">Resources</a></li>
      <li><a href="privacy-policy.html">Privacy</a></li>
      <li><a href="terms-conditions.html">Terms</a></li>
    </ul>
    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>
</nav>
